
<!DOCTYPE html>

<title>Edit </title>

{% block body %}
     <h1>Edit </h1>

    {{ include('admin/articles/_form.html.twig', {'button_label': 'Update'}) }}
       
    <a href="{{ path('app_user') }}">back to list</a>

    {{ include('admin/articles/_delete_form.html.twig') }}
{% endblock %}
