
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
           {% endblock %}
       
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      <a class="navbar-brand" href="#">Yecine's Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>

       <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
         <a class="nav-link" href={{ path ('app_home')}}>Home</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href={{ path ('app_projet_index') }}>Projets</a>
      </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{ path ('app_articles')}}>Articles</a>
      </li>
        </div>
      
    </ul>
    {% if app.user is defined and app.user is not empty %}
    {% if is_granted('ROLE_ADMIN') == true %}
                    
    <form class="form-inline my-2 my-lg-0">
    <div class="btn btn-outline-success my-2 my-sm-0">
      <a  href="{{path('app_logout')}}">Logout</a>
      </div>
    </form>
    {%  endif %}
    {%  endif %}
  </div>
</nav>